@using System.Security.Policy
@using Lernify.Domain.Enums
@model IEnumerable<Lernify.Web.Models.TeacherModel>
@{
     ViewBag.Title = "Teacher";
}

<!-- page title area start -->
<section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="assets/img/page-title/page-title.jpg">
     <div class="container">
          <div class="row">
               <div class="col-xxl-12">
                    <div class="page__title-wrapper mt-110">
                         <h3 class="page__title">Instructor</h3>
                         <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                   <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                   <li class="breadcrumb-item active" aria-current="page">Instructor</li>
                              </ol>
                         </nav>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- page title area end -->
<!-- teacher area start -->
<section class="teacher__area pt-115 pb-110">
     <div class="container">
          <div class="row">
          @if (ViewBag.CurrentUser.Level == URole.Admin)
          {
	          <a href=@Url.Action("Create")>Add New Teacher</a>
          }
               <div class="row">
                    <div class="col-xxl-6 offset-xxl-3">
                         <div class="section__title-wrapper text-center mb-60">
                              <h2 class="section__title">
                                   Our Most <br>
                                   Popular <span class="yellow-bg"> Teachers <img src="assets/img/shape/yellow-bg-2.png" alt=""> </span> <br>
                              </h2>
                              <p>You don't have to struggle alone, you've got our assistance and help.</p>
                         </div>
                    </div>
               </div>
               @foreach (var teacher in @Model)
               {


                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                         <div class="teacher__item text-center grey-bg-5 transition-3 mb-30">
                              <div class="teacher__thumb w-img fix">
                                   <a href="@Url.Action("TeacherDetails", "Teacher", new { id = teacher.Id })">
                                        <img src="@teacher.ImageUrl" alt="">
                                   </a>
                              </div>
                              <div class="teacher__content">
                                   <h3 class="teacher__title">@teacher.FirstName @teacher.LastName,</h3>
                                   <span> @teacher.Role</span>

	                              <div class="teacher__social">
		                              <ul>
			                              <li><a href="#"><i class="social_facebook"></i></a></li>
			                              <li><a href="#"><i class="social_twitter"></i></a></li>
			                              <li><a href="#"><i class="social_vimeo"></i></a></li>
		                              </ul>
		                              @if (ViewBag.CurrentUser.Level == URole.Admin)
		                              {
			                              <div>
				                              <a href=@Url.Action("Edit", "Teacher", new { id = teacher.Id })>
					                              <i class="fas fa-edit"></i>
				                              </a>
				                              <a href=@Url.Action("Details", "Teacher", new { id = teacher.Id })>
					                              <i class="fas fa-eye"></i>
				                              </a>
				                              <a href=@Url.Action("Delete", "Teacher", new { id = teacher.Id })>
					                              <i class="fas fa-trash-alt"></i>
				                              </a>
			                              </div>
		                              }
	                              </div>

                              </div>
                         </div>
                    </div>
               

          }
          </div>
     </div>
</section>
